@import 'reset';
@import 'variables';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f8f8f8;
  }
  
  /* HEADER */
  header {
    @include simple;
    background-color: $orange;
    color: white;
    padding: 20px;

    h1 {
      font-family: sans-serif;
      font-size: 20px;
    }
  }
  
  nav {
    margin-top: 25px;
    a {
      margin: 0 15px;
      color: white;
      text-decoration: none;
      font-size: 14px;
    }
  }
  
  /* CONTAINER */
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* SECTION TITLES */
  .section-title {
    font-size: 18px;
    font-weight: bold;
    color: $melon;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  
  /* GRID SYSTEM */
  .recipe-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
  }
  
  /* RECIPE CARDS */
  .recipe-card {
    @include simple;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    img {
    width: 100%;
    border-radius: 8px;
    height: 150px;
    object-fit: cover;
    }
  }
  
  /* NEWSLETTER SECTION */
  .newsletter {
    @include simple;
    background: $lime;
    padding: 20px;
    border-radius: 8px;
    margin: 30px 0;

    img {
      width: 60px;
      margin-bottom: 10px;
    }
  
    input {
      padding: 10px;
      width: 250px;
      margin-right: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
  
    button {
      padding: 10px 15px;
      background: $orange;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }
  
  /* ABOUT US SECTION */
  .about {
    @include simple;
    margin: 40px 0;
    h2 {
      font-size: 18px;
      color: $melon;
      margin: 15px;
    }

    p {
      padding-bottom: 20px;
    }

    img {
      width: 100%;
      border-radius: 8px;
      margin: 20px 0;
    }
    
    button {
      padding: 10px 15px;
      background: $orange;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  /* FOOTER */
  footer {
    @include simple;
    background: $mint;
    padding: 15px;
    margin-top: 30px;
    color: white;

    p {
      padding-top: 15px;
        padding-bottom: 10px;
    }
    
    a {
        text-decoration: none;
        margin: 0 10px;
        color: white;
    }
  }
  
  /* MEDIA QUERIES for Mobile Responsiveness */
  @media screen and (max-width: 768px) {
    .recipe-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .newsletter {
      input {
        width: 80%;
        margin-bottom: 10px;
      }
    
      button {width: 80%; }
    }
  }
  
  @media screen and (max-width: 480px) {
    .recipe-grid {
      grid-template-columns: 1fr;
    }
  
    .container {
      width: 95%;
    }
  
    .newsletter 
      input, button {width: 100%; }
  }